.about_icons {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .icon {
    list-style-type: none;
    margin: 0.5rem;
    width: calc((100% / 3) - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    img {
      object-fit: contain;
      width: 75px;
      height: 75px;
    }
  }
}
