.about_hero {
  display: flex;
  justify-content: space-between;
  // border: $border;
  background-color: $light-bg;
  align-items: center;
  padding: 2rem;

  & > * {
    width: calc(100% / 2);
  }
  img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
  }
}

.about_single {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;

  div:nth-child(1) {
    width: 100%;
    // word-wrap: break-word;
  }

  :nth-child(2) {
    width: 100%;
  }
}

.about_icons {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .icon {
    list-style-type: none;
    margin: 1rem;
    width: calc((100% / 2) - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      object-fit: contain;
      width: 150px;
      height: 150px;
    }
  }
}
