.about_hero {
  display: flex;
  justify-content: space-between;
  // border: $border;
  background-color: $light-bg;
  padding: 3.5rem;
  padding-left: 6rem;
  align-items: center;

  & > * {
    width: calc(100% / 2);
  }
  img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
  }
}

.about_single {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  padding-top: 2rem;

  // h3 {
  //   padding-top: 6rem;
  // }

  div:nth-child(1) {
    width: 40%;
    // word-wrap: break-word;
  }

  :nth-child(2) {
    width: 60%;
  }
  // & > * {
  //   width: calc(100% / 2);
  // }
}

.about_icons {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .icon {
    list-style-type: none;
    margin: 1rem;
    width: calc((100% / 3) - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // width: calc(100% / 4 - 2rem);

    // ! make images all the same size
    img {
      object-fit: contain;
      width: 150px;
      height: 150px;
      // height: 100%;
    }
  }
}
