.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% / 3) - 2rem);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: lighten($light, 17);
}

.image {
  background-color: lighten($light, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  img {
    height: 150px;
    object-fit: contain;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & > * {
    margin-top: 1rem;
  }
}

.card_meta {
  display: flex;
  justify-content: space-between;

  & > * {
    text-transform: capitalize;
  }
}
