.cards {
display: flex;
flex-wrap: wrap;
}

.card {
  width: calc((100% / 3) - 2rem);
  // border:1px solid goldenrod;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: lighten($light, 5);

  // .image {
  //   height: 30%;
  // }
}

.image {
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  
  img {
    height: 150px;
    object-fit: contain;
  }
}

.content {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;

// border: $border;

  &>* {
    margin-top: 1rem
  }
}

.card_meta {
  // font-weight: bold;
  display: flex;
  justify-content: space-between;
}