body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height * ($base-font-size);
  color: $primaryfont;
}

h1,
h2,
h3,
h4 {
  font-family: $base-font-family;
}
h1 {
  font-size: $base-font-size * 5;
  font-weight: 600;
  line-height: $base-line-height * ($base-font-size * 5);
}

h2 {
  font-size: $base-font-size * 4;
}

h3 {
  font-size: $base-font-size * 3;
}

h4 {
  font-size: $base-font-size * 2;
  font-weight: 100;
  line-height: $base-line-height * ($base-font-size * 2);
}

h5 {
  font-size: $base-font-size * 1.5;
}

svg {
  font-size: $base-font-size * 3;
  color: lightgray;
  display: flex;
  margin: 2rem auto;
}

a {
  text-decoration: none;
  color: $primaryfont;

  // &:hover{
  //   color: white;
  // }
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}


.button {
  color:darken($primaryfont, 9);
  background-color: $btn-clr;
  padding: 1rem 4rem;
  border-radius: 10px;
  margin: 1rem auto;
  display: inline-block;
}