body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height * ($base-font-size);
  color: $primaryfont;
  font-weight: 100;
  // background-color: rgba(248, 248, 248, 1);
}

h1,
h2,
h3 {
  font-family: $base-font-family;
  color: $header;
}
h1 {
  font-size: $base-font-size * 6;
  font-weight: 600;
  line-height: $base-line-height * ($base-font-size * 3.5);
}

h2 {
  font-size: $base-font-size * 5;
  line-height: $base-line-height * ($base-font-size * 3);
}

h3 {
  font-size: $base-font-size * 4;
  line-height: $base-line-height * ($base-font-size * 2.5);
}

h4 {
  font-size: $base-font-size * 3;
  font-weight: 100;
  line-height: $base-line-height * ($base-font-size * 1.75);
}

h5 {
  font-size: $base-font-size * 2.5;
  font-weight: 100;
  line-height: $base-line-height * ($base-font-size * 1.5);
}

h6,
li {
  font-size: $base-font-size * 1.5;
  font-weight: 100;
  line-height: $base-line-height * ($base-font-size * 1.5);
}

// svg {
//   font-size: $base-font-size * 3;
//   color: lightgray;
//   display: flex;
//   margin: 2rem auto;
// }

a {
  text-decoration: none;
  color: $primaryfont;
  display: inline;
}

footer {
  height: 10vh;
  background-color: $primaryfont;
  // margin-top: 5rem;
}

button.menu {
  font-family: $base-font-family;
  font-size: $base-font-size * 0.7;
  line-height: $base-line-height * ($base-font-size);
  color: $primaryfont;
  background: none;
  border: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.button {
  color: darken($primaryfont, 9);
  background-color: $btn-clr;
  padding: 1rem 2rem;
  border-radius: 10px;
  // margin: 1rem;
  display: inline-block;
}

// .back_btn {
//   background: none;
//   border: none;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   text-transform: uppercase;

//   svg {
//     margin: 0;
//   }
// }

.scrollTop {
  position: fixed;
  right: 100px;
  // width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
