body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height * ($base-font-size);
  color: $primaryfont;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $base-font-family;
  color: $header;
}
h1 {
  font-size: $base-font-size * 4;
  line-height: $base-line-height * ($base-font-size * 2.5);
}

h2 {
  font-size: $base-font-size * 3;
  line-height: $base-line-height * ($base-font-size * 3);
}

h3 {
  font-size: $base-font-size * 2.75;
  line-height: $base-line-height * ($base-font-size * 2.5);
}

h4 {
  font-size: $base-font-size * 2.5;
  line-height: $base-line-height * ($base-font-size * 2);
}

h5 {
  font-size: $base-font-size * 2.25;
  line-height: $base-line-height * ($base-font-size * 1.8);
}

h6 {
  font-size: $base-font-size * 2;
  font-weight: lighter;
  line-height: $base-line-height * ($base-font-size * 1.5);
}

li {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $primaryfont;
  display: inline;
}

footer {
  height: 5vh;
  background-color: $primaryfont;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.container {
  padding-top: 4rem;
}

.button {
  color: darken($primaryfont, 9);
  background-color: $btn-clr;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: inline-block;
}

.scrollTop {
  position: fixed;
  right: 100px;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
