.h_bar {
  display: block;
  background: white;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid $primaryfont;
  border-bottom: 1px solid $primaryfont;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  left: 0;

  a {
    font-size: 1rem;
  }
}

// // .single {
// .mobile_h_bar {
//   // display: block;
//   position: sticky;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   width: 50px;
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;
//   a {
//     // position: sticky;
//     margin: 0.25rem;
//   }
// }
// // }
