.header,
.section {
  @include flexCenter();
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  background-color: $light-bg;
  padding: 3.5rem;
  // border: $border;

  // .header_left {
  //   width: 50%;
  // }
}

// .header_right {
// }

.section {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}
