.header,
.section {
  @include flexCenter();
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  background-color: $light-bg;
  padding: 3.5rem;
  // border: $border;
  overflow: hidden;
  padding-left: 6rem;
}
.header_left {
  h6 {
    margin: 1rem 0;
  }
}

.section {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;

  .button {
    margin-top: 1rem;
  }
}
