// tablets
@media only screen and (min-width: 650px) {
  .featured {
    .card {
      width: calc((100% / 2) - 2rem);
      margin: 1rem;
    }
  }
}

// desktop
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3.5rem;
    padding-left: 6rem;
    justify-content: space-between;
  }

  .section {
    width: 50%;
  }
  .stats {
    > h3 {
      width: 50%;
    }
  }

  .card {
    width: calc((100% / 2) - 2rem);
  }
}

// larger desktop
@media only screen and (min-width: 1024px) {
  .header_right {
    position: static;
    opacity: 1;
  }
  // .featured {
  .card {
    width: calc((100% / 4) - 2rem);
    // margin: 1rem;
    // }
  }

  .logo {
    width: 35%;
  }

  // .card {
  //   width: calc((100% / 3) - 2rem);
  // }
}

// @media (max-width: 480px) {
//   .header {
//     position: relative;
//     padding: 1rem;
//   }
//   .header_right {
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0.4;
//     // background-color: lighten($light-bg, 5);
//     // z-index: -100;
//   }
//   .header_left {
//     z-index: 10;
//   }
// }
