.nav_desktop {
  a {
    font-size: 1rem;
  }
  // display: none;
}
// .mobile_nav_header {
//   background: $light;
//   height: 80px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

// .mobile_nav_link {
//   margin-left: 2rem;
//   font-size: 2rem;
//   height: 80px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .nav_mobile {
//   display: block;
// }
.logo {
  padding-left: 4rem;
  // display: inline-block;
  // margin: 0 auto;

  img {
    padding: 0.5rem;
    margin: 1rem auto;
    height: 10vh;
    object-fit: contain;
    // height: auto;
  }
}

// .mobile_logo {
//   margin: 1rem;
// }

// .mobile_logo {
//   width: calc(50% - 2rem);
//   object-fit: cover;
// }

.menu {
  @include flexCenter();
  flex-wrap: wrap;
  & > * {
    text-transform: uppercase;
  }

  li {
    list-style-type: none;
    font-size: $base-font-size * 0.7;
    margin: 1rem;

    &:hover {
      background-color: rgba(175, 212, 214, 1);
      color: $primaryfont;
    }
  }

  > * {
    margin: 0.5rem;
  }

  a {
    text-transform: uppercase;
  }
}

.search_bar {
  border: 1px solid black;
  padding: 1rem;
  position: relative;
  @include flexCenter();
  border-radius: 10px;

  .search_box {
    border: none;
    // padding: 0.5rem;
    // text-align: center;
    font-family: $base-font-family;
  }

  // .glyph_container {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   right: 12px;
  //   height: 20px;
  //   width: 20px;
  //   margin: auto;
  // }

  .search_glyph::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../assets/search.png) no-repeat 0 0 / contain;
  }
}

.dropdown {
  color: $primaryfont;
  text-transform: uppercase;

  &:hover {
    color: $primaryfont;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//   fill: #373a47;
// }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: $light;
  // background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
  background: $light;
}
