.nav {
	background-color: $light;
	display: inline-block;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.logo {
	margin: 1rem;
}

.menu{
	a {
		margin: 1rem;
		text-transform: uppercase;
	}
}