.nav_desktop {
  // display: none;
}
// .mobile_nav_header {
//   background: $light;
//   height: 80px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

// .mobile_nav_link {
//   margin-left: 2rem;
//   font-size: 2rem;
//   height: 80px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .nav_mobile {
//   display: block;
// }
.logo {
  // display: inline-block;
  // margin: 0 auto;

  img {
    padding: 0.5rem;
    margin: 1rem auto;
    height: 10vh;
    object-fit: contain;
    // height: auto;
  }
}

// .mobile_logo {
//   margin: 1rem;
// }

// .mobile_logo {
//   width: calc(50% - 2rem);
//   object-fit: cover;
// }

.menu {
  @include flexCenter();
  flex-wrap: wrap;
  & > * {
    text-transform: uppercase;
  }

  input {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    text-align: center;
    font-family: $base-font-family;
  }

  li {
    list-style-type: none;
    font-size: $base-font-size * 0.8;
    margin: 1rem;

    &:hover {
      background-color: lighten($light, 3);
      color: $primaryfont;
    }
  }

  > * {
    margin: 0.5rem;
  }

  a {
    text-transform: uppercase;
  }
}

.dropdown {
  color: $primaryfont;
  text-transform: uppercase;

  &:hover {
    color: $primaryfont;
  }
}
