.single {
  img {
    width: 80%;
    margin: 1rem auto;
  }

    &>*{
    padding-top: 3rem;
  }
}


.single.wrapper {
  width: 75%;
    &>*{
    padding-top: 2rem;
  }
}

.single_header {
  text-align: center;

  &>* {
    padding:3rem 0;
  }
}

.single_info {
  display: flex;
  text-align: center;

  h4 {
    font-weight: bold;
  }

  &>* {
    margin: 1rem 3rem;
  }
}

.single_about, .single_services, .single_items, .single_donations, .single_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  &>* {
    width: calc(100% /2);
  }

}

.single_services {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0.5rem 1rem;
    }
  }
}

.single_items{
  em {
    color: red;
  }
}

.single_icons {
  display: flex
}

.single_contact {
  ul li {
    list-style-type: none;
  }
}

.contact_buttons {
  margin-top:2rem;
}