.single {
  img {
    width: 50%;
    margin: 1rem auto;
  }

    &>*{
    padding-top: 5rem;
  }
}


.single.wrapper {
  width: 75%;
    &>*{
    padding-top: 2rem;
  }
}

.single_header {
  text-align: center;

  &>* {
    padding:3rem 0;
  }
}

.single_info {
  // width: 75%;
  display: flex;
  text-align: center;

  h4 {
    font-weight: bold;
  }

  &>* {
    margin: 1rem 3rem;
  }
}

.single_about, .single_services, .single_items, .single_donations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  &>* {
    width: calc(100% /2);
  }

}

.single_services {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0.5rem 1rem;
    }
  }
}

.single_items{
  em {
    color: red;
  }
}

.single_icons {
  display: flex
}

.single_contact {
  ul li {
    list-style-type: none;
  }
}

.single_gallery {
  display: flex;
  flex-wrap: wrap;

  img {
    width: calc((100% /2) - 2rem);
    opacity: .9;
    margin: 1rem;
  }
}


.single_contact {
  .info{
    margin-top: 2rem;
    display: flex;
    align-content: space-between;

    &>* {
      width: calc(100% /2);
    }

  }
}
.contact {
  padding-left: 6rem;
}
.contact_buttons {
  margin-top:2rem;
}