
.stats {
	h3 {
		width: 50%;
	}
}

.statistics {
	display: flex;
	padding: 2rem 0;
	width: 80%;
	margin: 0 auto;

	&>*{
		width: calc((100% / 4) - 3rem);
		text-align: center;
		margin: 1.5rem;
	}
}

.statistic {
	.value {
		font-size: $base-font-size * 3;
		margin: 1rem;
	}
}