.stats {
  margin-top: 3rem;

  // h3 {
  // }

  span {
    color: $blue-acc;
  }
}

.statistics {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-transform: capitalize;
}

.statistic {
  width: calc((100% / 2) - 2rem);
  text-align: center;
  margin: 1rem;
}

.value {
  margin: 1rem auto;
  color: $blue-acc;
  font-size: $base-font-size * 2.8;
}
