.stats {
  span {
    color: $blue-acc;
  }
}

.statistics {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.statistic {
  width: calc((100% / 2));
  text-align: center;
  margin: 0.5rem auto;
  @include flexCenter();
  flex-direction: column;
  flex-wrap: wrap;
}

.value {
  font-weight: bold;
  margin: 0.5rem;
  color: $blue-acc;
  font-size: $base-font-size * 2.5;
}

.label {
  width: 100%;
}
