// branding
$primaryfont: rgba(75,75,75,1);
$light: rgba(196,196,196,0.6);
$btn-clr: darkgray;
$border: 1px solid seagreen;

$base-font-family: futura-pt, sans-serif;
$base-line-height: 1.4;
$base-font-size: 1.5rem;
$vertical-rhythm: $base-line-height * $base-font-size;
